adium-theme-ubuntu==0.3.4
amqp==1.4.6
anyjson==0.3.3
apt-xapian-index==0.45
beautifulsoup4==4.3.2
billiard==3.3.0.20
celery==3.1.18
chardet==2.0.1
command-not-found==0.3
Cython==0.20.1
debtagshw==0.1
decorator==3.4.0
defer==1.0.6
defusedxml==0.4.1
dirspec==13.10
dj-database-url==0.3.0
Django==1.8.1
django-allauth==0.19.1
django-annoying==0.8.1
django-appconf==1.0.1
django-blog-zinnia==0.14.1
django-bower==5.0.4
django-classy-tags==0.5.1
django-compressor==1.5
django-config==0.1.4
django-configurations==0.8
django-cors-headers==0.12
django-custom-user==0.5
django-filter==0.10.0
django-libsass==0.1
django-localflavor==1.0
django-missing==0.1.11
django-model-utils==2.0.3
django-mptt==0.6.0
django-nose==1.4
django-notifications-hq==0.6.2
django-oauth2-provider==0.2.6
django-relationships==0.3.3
django-rest-auth==0.4.0
django-rest-swagger==0.1.13
django-sekizai==0.7
django-tagging==0.3.2
django-user-sessions==1.1.1
django-websocket-redis==0.2.3
django-xmlrpc==0.1.5
djangorestframework==3.1.1
djangorestframework-xml==1.0.1
dnspython==1.11.1
duplicity==0.6.23
ecdsa==0.13
etcd==2.0.8
ExtensionClass==4.1a1
Fabric==1.10.1
factory-boy==2.3.1
Flask==0.10.1
fs==0.5.0
gevent==1.0.1
graphviz==0.4
greenlet==0.4.2
gunicorn==19.1.1
gyp==0.1
httplib2==0.8
itsdangerous==0.24
Jinja2==2.7.3
kombu==3.0.26
libsass==0.8.2
lockfile==0.8
lxml==3.3.3
mapreduce==0.3.5
Markdown==2.6.2
MarkupSafe==0.23
Missing==3.0
mysql-connector-python==1.1.6
MySQL-python==1.2.5
mysql-utilities==1.3.5
nodeenv==0.7.2
nose==1.3.0
nsqs==0.2.0
oauth==1.0.1
oauthlib==0.7.2
oneconf==0.3.7
paho-mqtt==1.1
PAM==0.4.2
paramiko==1.15.2
pbr==1.2.0
pexpect==3.1
Pillow==2.8.1
piston-mini-client==0.7.5
pyactiveresource==2.0.0
pycrypto==2.6.1
pycups==1.9.66
pygobject==3.12.0
pyinotify==0.9.4
PyJWT==1.3.0
PyOpenGL==3.0.2
pyOpenSSL==0.13
pyparsing==2.0.2
Pyrex==0.9.8.5
pyserial==2.6
pysmbc==1.0.14.1
pysqlite==2.6.3
python-apt===0.9.3.5ubuntu2
python-dateutil==2.2
python-debian===0.1.21-nmu2ubuntu2
python-openid==2.2.5
python-social-auth==0.2.7
pytz==2013.8
pyxdg==0.25
RandomWords==0.1.12
redis==2.10.3
reportlab==3.0
requests==2.7.0
requests-oauthlib==0.5.0
sessioninstaller==0.0.0
shortuuid==0.4.0
simple-translation==0.8.6
six==1.10.0
software-center-aptd-plugins==0.0.0
sorl-thumbnail==12.2
South==0.8.4
SQLAlchemy==0.8.4
sqlalchemy-migrate==0.8.2
ssh-import-id==3.21
stevedore==1.5.0
stripe==1.14.0
system-service==0.1.6
Tempita==0.5.2
Twisted-Core==13.2.0
Twisted-Web==13.2.0
ujson==1.33
unity-lens-photos==1.0
urllib3==1.7.1
uWSGI==2.0.1
validate-email==1.3
virtualenv==13.0.3
virtualenv-clone==0.2.5
virtualenvwrapper==4.6.0
websocket-client==0.12.0
Werkzeug==0.9.6
xdiagnose===3.6.3build2
zope.interface==4.0.5
