<div class="details-content" ng-init="init()">
  <h2>My bookings and requests</h2>
  <div class="section">
    <div class="sidebar">
      <h4>Flight summary</h4>
    </div>
    <div class="main">
      <div class="lead">
        <h4>Request for offer(s) sent successfully</h4>
        <p>
          You can view updates on your request by checking your <a href="/flights/requests/[[ charter.id ]]">bookings &amp; request page</a>
        </p>
      </div>
    </div>
  </div>
  <div class="last-skew white"></div>
</div>
