$gray: #464242;
$gray2: #bebec0;
$ocher: #dfd3bb;
$ocher-light: #e8ddc6;
$blue-sky: #68b0ec;
$blue-sky-light: #9fd3ff;
$gray-blue: #323a45;
$gray-blue-light: #5a6574;
$blue-dirty: #9fd3ff;
$blue-dirty-light: #e4e9ed;
$blue-light: #ccd6de;
$blue-lighter: #f5f1f2;
$white: #ffffff;
$error: #a76e69;
