@import url("//hello.myfonts.net/count/2cc3af");
@font-face {font-family: 'Radikal-Light';src: url('../fonts/2CC3AF_0_0.eot');src: url('../fonts/2CC3AF_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2CC3AF_0_0.woff2') format('woff2'),url('../fonts/2CC3AF_0_0.woff') format('woff'),url('../fonts/2CC3AF_0_0.ttf') format('truetype');}
@font-face {font-family: 'Radikal-Bold';src: url('../fonts/2CC3AF_1_0.eot');src: url('../fonts/2CC3AF_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2CC3AF_1_0.woff2') format('woff2'),url('../fonts/2CC3AF_1_0.woff') format('woff'),url('../fonts/2CC3AF_1_0.ttf') format('truetype');}

$primary:"proxima-nova";
$secondary:"Radikal-Light";
$secondary-bold:"Radikal-Bold";
$icon:"icomoon";
$font-size:16px;
$line-height:22px;
