<div class="details-content">
  <div class="header">
    <h2>
      Booking flight
      <ul class="breadcrumbs">
        <li class="active">Payment</li>
        <li>Passanger details</li>
        <li>Booking confirmation</li>
      </ul>
    </h2>
    <div class="sidebar">
    </div>
    <div class="main">
      <div class="lead">
        <h4>Payment not successful</h4>
        <p>
          There was an error processing your card. <a href="/flights/requests/">Try again</a><br><br>
          Feel free to <a href="mailto:info@ascentjet.com">contact us</a> for help.
        </p>
      </div>
    </div>
  </div>
  <div class="last-skew white"></div>
</div>
