<div class="details-content">
  <div class="header">
    <h2>
      Booking Flight
    </h2>
    <div class="sidebar">
    </div>
    <div class="main">
      <div class="lead">
        <h4>Payment successful</h4>
        <p>
          Your payment has been processed successfully. You will receive confirmation of your booking by your selected operator. Your operator will submit your invoice to your directly for this flight.
        </p><br>
        <a href="/flights/requests/[[ requestId ]]/" class="btn">View booking</a>
      </div>
    </div>
  </div>
  <div class="last-skew white"></div>
</div>
