{% extends "preview/structure/base.html" %}
{% block content %}

<section class="gradient image intro first results user confirmations">
  <div class="container">
    <div class="details-content">
      <div class="header">
        <h2>
          Booking flight
          <ul class="breadcrumbs">
            <li><a href="/common/preview/structure/booking-flight/">Payment</a></li>
            <li><a href="/common/preview/structure/passangers/">Passanger details</a></li>
            <li class="active"><a href="/common/preview/structure/booking-confirmation/">Booking confirmation</a></li>
          </ul>
        </h2>
        <div class="sidebar">
        </div>
        <div class="main">
          <div class="lead">
            <h4>Booking confirmed</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id augue imperdiet, dictum urna et, laoreet urna. Nullam laoreet elit ligula, ut posuere augue mollis vel. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id augue imperdiet, dictum urna et.
            </p>
            <p class="small">
              Return to <a href="#">Bookings &amp; request page</a>
            </p>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="sidebar">
          <h4>Flight details</h4>
        </div>
        <div class="main">
          <ul class="flight">
            <li><h4>Lisbon (LPPT) - Madrid (LECU)</h4></li>
            <li>
              <div class="label">
                Date / Time
              </div>
              <div class="value">
                20.12.2014 / 16:30
              </div>
            </li>
            <li>
              <div class="label">
                Passengers
              </div>
              <div class="value">
                First Passenger <br>
                Second passenger
              </div>
            </li>
            <li>
              <div class="label">
                Aircraft type
              </div>
              <div class="value">
                Super Mid Jet
              </div>
            </li>
            <li>
              <div class="label">
                Baggage
              </div>
              <div class="value">
                Baggage
              </div>
            </li>
            <li>
              <div class="label">
                Additional requests
              </div>
              <div class="value">
                None
              </div>
            </li>
          </ul>
          <ul class="flight">
            <li><h4>Lisbon (LPPT) - Madrid (LECU)</h4></li>
            <li>
              <div class="label">
                Date / Time
              </div>
              <div class="value">
                20.12.2014 / 16:30
              </div>
            </li>
            <li>
              <div class="label">
                Passengers
              </div>
              <div class="value">
                First Passenger <br>
                Second passenger
              </div>
            </li>
            <li>
              <div class="label">
                Aircraft type
              </div>
              <div class="value">
                Super Mid Jet
              </div>
            </li>
            <li>
              <div class="label">
                Baggage
              </div>
              <div class="value">
                Baggage
              </div>
            </li>
            <li>
              <div class="label">
                Additional requests
              </div>
              <div class="value">
                None
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="section">
        <div class="sidebar">
          <h4>Payment details</h4>
        </div>
        <div class="main">
          <ul class="flight no-header">
            <li>
              <div class="label">
                Payment method
              </div>
              <div class="value">
                Visa credit card
              </div>
            </li>
            <li>
              <div class="label">
                Total amount
              </div>
              <div class="value">
                4.000,00 CHF
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="last-skew white"></div>
    </div>
  </div>
</section>

{% endblock %}
