{% extends "preview/structure/base.html" %}
{% block content %}
  <section class="image intro first login bottom-dark-gray" style="background-image:url('/media/static/images/login.jpg');">
    <div class="container">
      <div class="intro confirmation">
        <h2>Join Ascent Jet <br>Marketplace</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a egestas nisi. Integer eget metus eget tortor interdum aliquet. Sed aliquet orci non ligula porttitor fermentum. Nam nec tincidunt leo.
        </p>
      </div>
      <div class="login">
        <h2>Create an account</h2>
        <p class="center">
          A coformation email has been sent to your address mark.stevens@jet.com with actiovation link for your account.
        </p>
      </div>
    </div>
  </section>
{% endblock %}
