<table cellpadding="0" cellspacing="0" border="0" style="border:0; width:650px; margin-left:auto; margin-right:auto; font-family:'Arial'; font-size:14px; line-height:22px; color:#323a45;">
  <tr>
    <td colspan="2">
      <img src="{{STATIC_URL}}images/emails/header.jpg" />
    </td>
  </tr>
  <tr>
    <td style="padding:40px 0 20px 0;" colspan="2">
      <p style="margin-bottom:20px;">
        Dear Steve McDonald
      </p>
      <p style="margin-bottom:20px;">
        We are pleased to inform you that you have been added to the Ascent Jet e-business platform. You will be able to solicit offers for flights in private aircraft, and select from one or more of these for each of your planned trips.  Once your selection is made, you simply proceed to the payment options and your flight will be booked.
      </p>
      <p style="margin-bottom:20px;">
        You will be contacted by the operator of the aircraft for final flight details.  You are of course invited to contact Ascent Jet at any time by telephone for any assistance you might need during your flight offers requests and bookings.
      </p>
      <p style="margin-bottom:20px;">
        We are, with kind regards,<br>
        The Ascent Jet team
      </p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <img src="{{STATIC_URL}}images/emails/footer.jpg" />
    </td>
  </tr>
  <tr>
    <td style="background-color:#535a68; padding-bottom:15px;" valign="bottom">
      <table>
        <tr>
          <td style="padding-left:15px;">
            <img src="{{STATIC_URL}}images/emails/email-blue.jpg" />
          </td>
          <td style="padding-left:10px;">
            <a href="mailto:info@ascentjet.com" style="color:#ffffff; font-size:12px; text-decoration:none;">info@ascentjet.com</a>
          </td>
          <td style="padding-left:20px;">
            <img src="{{STATIC_URL}}images/emails/phone-blue.jpg" />
          </td>
          <td style="color:#ffffff; font-size:12px; padding-left:10px;">
            +41 22 366 42 05
          </td>
        </tr>
      </table>
    </td>
    <td valign="bottom" style="background-color:#535a68; width:160px; padding-bottom:15px; height:60px;">
      <a href="http://www.ascentjet.com/" style="color:#ffffff; font-size:16px; text-decoration:none;">www.ascentjet.com</a>
    </td>
  </tr>
</table>
