<table cellpadding="0" cellspacing="0" border="0" style="border:0; width:650px; margin-left:auto; margin-right:auto; font-family:'Arial'; font-size:14px; line-height:22px; color:#323a45;">
  <tr>
    <td colspan="2">
      <img src="{{STATIC_URL}}images/emails/header.jpg" />
    </td>
  </tr>
  <tr>
    <td style="padding:40px 0 20px 0;" colspan="2">
      <p style="margin-bottom:20px;">
        Dear Steve McDonald, <br>
        Offer No 123456
      </p>
      <p style="margin-bottom:20px;">
        This email is to inform you that the aircraft indicated in the referenced offer is no longer available for the date(s) and departure time(s) you have requested. Please check your log in area for other offers for this flight.
      </p>
      <table cellpadding="0" style="border:0; margin:40px 0;" cellspacing="0">
        <tr>
          <td style="text-transform:uppercase; font-size:10px; width:90px; padding:3px 0;">
            Airplane
          </td>
          <td style="font-size:14px; font-weight:bold; padding:3px 0;">
            Cessna Citation CJ2
          </td>
        </tr>
        <tr>
          <td style="text-transform:uppercase; font-size:10px; width:90px; padding:3px 0;">
            Operator
          </td>
          <td style="font-size:14px; font-weight:bold; padding:3px 0;">
            Jet Blue, Geneva, Switzerland
          </td>
        </tr>
        <tr>
          <td style="text-transform:uppercase; font-size:10px; width:90px; padding:3px 0;">
            Departure
          </td>
          <td style="font-size:14px; font-weight:bold; padding:3px 0;">
            May 15, 2013 - 15:00h
          </td>
        </tr>
        <tr>
          <td style="text-transform:uppercase; font-size:10px; width:90px; padding:3px 0;">
            Flight
          </td>
          <td style="font-size:14px; font-weight:bold; padding:3px 0;">
            Geneva (LSGG) to Madrid (LEMD) (first leg)
          </td>
        </tr>
        <tr>
          <td style="text-transform:uppercase; font-size:10px; width:90px; padding:3px 0;">
            Price
          </td>
          <td style="font-size:14px; font-weight:bold; padding:3px 0;">
            CHF 23,000
          </td>
        </tr>
      </table>
      <p style="margin-bottom:20px;">
        With kind regards, <br>
        The Ascent Jet team
      </p>
      <table cellpadding="0" border="0" cellspacing="0" style="font-size:12px; line-height:18px; width:650px; margin:40px 0 60px 0; color:#323a45;">
        <tr>
          <td colspan="2" style="border-top:2px solid #dadfe4; padding-top:20px; padding-bottom:15px; color:#323a45;">
            For immediate personal assistance or questions relating to your request for quote, please contact us on:
          </td>
        </tr>
        <tr>
          <td>
            <img src="{{STATIC_URL}}images/emails/phone.jpg" />
          </td>
          <td valign="bottom" style="padding-top:5px; color:#323a45;">
            <strong style="font-weight:bold; font-size:16px;">+41 22 366 42 05</strong> &nbsp; &nbsp;+41 22 366 42 05 for outside of Switzerland
          </td>
        </tr>
        <tr>
          <td style="border-bottom:2px solid #dadfe4; padding-bottom:20px; padding-top:5px;">
            <img src="{{STATIC_URL}}images/emails/email.jpg" />
          </td>
          <td valign="bottom" style="border-bottom:2px solid #dadfe4; padding-bottom:20px; padding-top:5px;">
            <strong style="font-weight:bold; font-size:16px;"></strong> <a href="mailto:info@ascentjet.com" style="color:#323a45; text-decoration:none; font-weight:bold; font-size:16px">info@ascentjet.com</a>
          </td>
        </tr>
      </table>
      <table cellpadding="0" border="0" cellspacing="0">
        <tr>
          <td style="background-color:#f0f3f5; padding:25px 25px 0 25px; font-size:11px; line-height:15px; color:#91959b;">
            This email was sent by Ascent Jet SA, 4 rue du Tir-au-Canon, 1227 Geneva, Switzerland <br>
            This email and any files transmitted with it are covered by professional secrecy and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in error please notify Ascent Jet SA using the contact form. The recipient should check this email and any attachments for the presence of viruses. Ascent Jet SA accepts no liability for any damage caused by any virus transmitted by this email. Ascent Jet SA does not act as an intermediary or a dealer. No sales contract exists between Ascent Jet SA  and a buyer or seller. Ascent Jet SA accepts no liability for the content of this email, or for the consequences of any actions taken on the basis of the information provided, If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.
          </td>
        </tr>
        <tr>
          <td>
            <img src="{{STATIC_URL}}images/emails/corner.jpg" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <img src="{{STATIC_URL}}images/emails/footer.jpg" />
    </td>
  </tr>
  <tr>
    <td style="background-color:#535a68; padding-bottom:15px;" valign="bottom">
    </td>
    <td valign="bottom" style="background-color:#535a68; width:160px; padding-bottom:15px; height:60px;">
      <a href="http://www.ascentjet.com/" style="color:#ffffff; font-size:16px; text-decoration:none;">www.ascentjet.com</a>
    </td>
  </tr>
</table>
