{% extends "preview/structure/base.html" %}
{% block content %}

<section class="gradient image intro first results user confirmations">
  <div class="container">
    <div class="details-content">
      <div class="header">
        <h2>
          Booking flight
          <ul class="breadcrumbs">
            <li class="active"><a href="/common/preview/structure/booking-flight/">Payment</a></li>
            <li>Passanger details</li>
            <li>Booking confirmation</li>
          </ul>
        </h2>
        <div class="sidebar">
        </div>
        <div class="main">
          <div class="lead">
            <h4>Payment not successful</h4>
            <p>
              There was an error processing your card. <a href="/common/preview/structure/booking-flight/">Try again</a><br><br>
              Feel free to <a href="#">contact us</a> for help.
            </p>
          </div>
        </div>
      </div>
      <div class="last-skew white"></div>
    </div>
  </div>
</section>

{% endblock %}
